.main-app {
	width: 380px;
	height: 420px;
	font-family: "Times New Roman", Times, serif;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10px;
}

.main-info {
	display: none;
}

.intro {
	text-align: center;
	margin-top: 20px;
}

.soft-ver-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.not-found {
	text-align: center;
	margin-top: 20px;
}

.soft {
	margin-right: 10px;
}

.ver {
	margin-right: 10px;
}

.gen-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}

.latest {
	margin-left: 10px;
}

.status {
	margin-top: 10px;
}

.ver-and-sim {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.versions {
	display: none;
}

.similar {
	display: none;
}
