#title {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.view-all {
	cursor: pointer;
}

.view-similar {
	cursor: pointer;
}

.view-all:hover {
	color: #424242;
}

.waiting {
	margin-top: 14px;
	display: none;
}

.soft-content {
	display: none;
}

.intro {
	text-align: center;
}