<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  </head>
  <body>
    <div class="main-app" ng-app="exApp" ng-controller="exCtrl">
      <div class="container">
        <div class="soft-ver-search">
            
            <input type="text" class="form-control soft" ng-model='name'>
            
            
            <input type="text" class="form-control ver" ng-model='version'>
            
            <button type="button" class="btn btn-default" ng-click="search()"> Search </button>
        </div>
        <div class="intro">
            Search softwares. Checkout if your version has become obsolete or not. Find out if its time to update your software. How many new versions have been released. What is the lastest version. Enter your software name and version above and hit search to find out!
        </div>
        <div class="not-found">
            Software not found !! Please try a different name.
        </div>
        <div class="main-info">
          <div class="gen-info">
            <div class="initial-release">
              <div class="header">
                <h4>Initial Release</h4>
              </div>
              <div class="content">
                {{ initialRelease }}
              </div>
            </div>
            <div class="latest">
              <div class="header">
                <h4>Latest Release</h4>
              </div>
              <div class="content">
                {{ latestRelease }}
              </div>
            </div>
          </div>
          <div class="ver-and-sim">
            <button class="btn btn-default" ng-click="viewReleases()">View all Releases</button>
            <button class="btn btn-default" ng-click="viewSimilar()">View similar softwares</button>
          </div>
          <div class="versions">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td> {{ name }} </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ver in versions track by $index">
                  <td> {{ ver }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="similar">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td> {{ name }} </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="sim in similarSoftwares track by $index">
                  <td> {{ sim }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="status">
            {{ status }}
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>